<%- include('../partials/_head') %>
<%- include('../partials/_header') %>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s8">
                    <h3 class=""><%= recipe.title %></h3>
                    <div class="recipe-rating">
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                        <i class="material-icons">star</i>
                    </div>
                    <div class="section">
                        <i class="material-icons">schedule</i>Cooking Time: <%= recipe.cookTime %> min.
                    </div>
                    <p>
                        <%= recipe.description %>
                    </p>
                    <div class="recipe-image">
                        <img src="/img/potatoes.jpeg" alt="">
                    </div>
            </div>
            <div class="col s2 offset-m1">
                <h4 class="">Ingredient List</h4>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                </ul>
            </div>

        </div>
    </div>
<div class="divider"></div>
<div class="section">
    <div class="row">
        <div class="col s8">
        <h4 class="">Instructions</h4>
            <ol>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
            </ol>
        </div>
        <div class="col s2 offset-m1">
            <ul>
                <li></li>
            </ul>
        </div>
    </div>
</div>
<form action="/cart/add/<%= recipe._id %>?_method=PUT" method="POST">
    <div class="fixed-action-btn">
        <button class="btn-floating btn-large waves-effect waves-light red" type="submit">
            <i class="material-icons">shopping_cart</i>
        </button>
    </div>
</form>

</div>
<%- include('../partials/_footer') %>





